/* styles.css */
body {
    font-family: sancola system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('GMT_TP_Wave_Sep23_LightBlue.png') repeat-y center top / 100% auto;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: none;
    padding: 10px 20px;
}


.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    position: relative;
}
.logo-icon {
    width: 20px; /* Adjust the width as per your design */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Optional: Adjust spacing between logo and text */
    vertical-align: middle; /* Align the logo vertically with the text */
}

/* Arrow styles */
nav ul li a::after
  {
    content: '';
    position: absolute;
    top: calc(50% + 3px); /* Adjust vertical position to center vertically */
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent; /* Default arrow color */
    transition: transform 0.3s ease, border-top-color 0.3s ease; /* Smooth transition */
}
nav ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% + 3px); /* Adjust vertical position to center vertically */
    right: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #0087FF; /* Default arrow color */
    transition: transform 0.3s ease, border-top-color 0.3s ease; /* Smooth transition */
}

nav ul li a::before {
    top: 50%;
}

nav ul li a:hover::after,
nav ul li a:hover::before {
    border-top-color: #0087FF; /* Hover arrow color */
    transform: translateY(-50%) rotate(180deg); /* Rotate arrow */
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: whitesmoke;
    box-shadow: none;
    z-index: 10;
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul li .dropdown li {
    margin: 0;
    padding: 0;
}

nav ul li .dropdown li a {
    padding: 10px 20px;
    display: block;
    color: #333;
    font-weight: normal; /* Normal font weight for dropdown items */
    white-space: nowrap; /* Ensures text is in one line */
}

nav ul li .dropdown li a:hover {
    background-color: transparent;
}

.contact-us {
    color: #fff;
    background: linear-gradient(45deg, #3047B0, #0087FF); /* Gradient background */
    border-radius: 5px;
}

.mobile-menu {
    display: none;
}

.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
}

/* Intro section styles */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: transparent;
    flex-wrap: wrap;
}

.intro-text {
    flex: 1;
    padding: 0px;
    background-color: transparent;
}

.intro-text h1 {
    font-size: 70px; /* Increase the size */
    font-weight: bold;
    color: #333;
}

.intro-text .highlight {
    font-size: 100px; /* Increase the size more for the highlight */
    color: #0087FF;
    background: #0087FF ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.find-job {
    flex: 2;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    width: 66%;
}

.hot-job h2, .find-job h2 {
    color: #333;
    margin-bottom: 20px;
}

.hot-job h1, .find-job h1 {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.hot-job p, .find-job p {
    color: #555;
    margin-bottom: 20px;
}
.container {
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.dropdowns {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;}

.dropdowns label {
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
}
.dropdowns select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}
.dropdowns input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.generate-btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(45deg, #3047B0, #0087FF); /* Gradient background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.generate-btn:hover {
    background: linear-gradient(180deg, #3047B0, #0087FF); /* Gradient background */
}

footer {
    padding: 10px 20px;
    text-align: center;
    background-color: transparent;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.back-button {
    background: linear-gradient(45deg, #3047B0, #0087FF); /* Gradient background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #0087FF;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu-button {
        display: block;
    }

    .intro {
        flex-direction: column;
    }

    .application-form {
        flex-direction: column;
    }

    form {
        width: 100%;
        padding: 10px;
    }
}
